

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    color: #0c0b0b;
  }
  
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  
  .navbar-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 170px;
  }
  
  .navbar-item {
    margin-right: 20px;
    font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 15px;

    
  }
  .navbar-item a:hover {
    color: #F6623E;
  }
  
  .navbar-div {
    justify-content: center;
    margin-left: 160px;
  }
  
  .navbar-item a {
    color: #0c0c0c;
    text-decoration: none;
  }
  
  .bar {
   
    padding: 10px 30px;
    color: #fffdfd;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      justify-content: center;
      height: auto;
    }
    
    .navbar-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 20px;
      margin-right: 20px;
    }
    
    .navbar-list {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      
        margin-bottom: 20px;
        justify-content: center; /* change to flex-start to align left */
      
    }
    
    .navbar-item {
      margin-right: 0;
      margin-bottom: 10px;
      text-align: center;
    }
    
    .navbar-item img {
      margin-bottom: 10px;
    }
    
    .bar {
      margin-top: 10px;
    }
  }
  